/maven_storage
/out
/target
*.db
flamegraph.svg
perf.*
profile.json.gz
/*.py
.env
dump.sql
seed.sql
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml
/*.conf
/minio-data
/db-data
/nginx-data
Dockerfile.debug
